<GridLayout rows="*, *" class="h-full w-full" backgroundColor="#5C44E4">
  <app-canvas-background />
  <StackLayout row="0" class="items-center p-6 header">
    <Image src="~/assets/NativeScript_Logo_Blue_White_Rounded.png" class="w-20 h-20 m-8"></Image>
    <Label class="text-4xl font-extrabold text-white">NativeScript 💖 Angular</Label>
    <Label textWrap="true" class="text-lg text-white opacity-80 my-8 px-4 text-center leading-3">
      Build native mobile apps with Angular!
    </Label>
  </StackLayout>

  <ScrollView row="1" class="bg-white rounded-tl-3xl rounded-tr-3xl -mt-6 shadow-xl">
    <StackLayout class="p-6">
      <Label class="text-2xl font-semibold text-gray-800 mb-4"> Welcome to the Next Level </Label>
      <Label textWrap="true" class="text-base text-gray-600 mb-6 leading-3">
        Experience seamless integration of Angular with native mobile capabilities. Explore the features by clicking the
        buttons below.
      </Label>
      <Button
        class="mb-4 bg-indigo-500 text-white font-semibold py-3 px-5 rounded-lg shadow-md"
        (tap)="getBatteryLevel()">
        Check Battery Level
      </Button>
    </StackLayout>
  </ScrollView>
</GridLayout>
