StackLayout[orientation="horizontal"] {
  background-color: #c3ffbb;

  Label {
    margin: 10;
  }
}

StackLayout {
  background-color: #bbefff;
}

Label {
  font-size: 16;
  text-align: center;
  margin: 2;
  padding: 8;
}